*{
	margin: 0;
	padding: 0;
}
.container {
	width: 100%;
	height: 1000px;
}

.container .header {
	display: flex;
}	

.container .header .logo{
	margin-left: 390px;
	margin-right: 260px;
	margin-top: 28px;
}

ul.menu{
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	margin-top: 60px;
}

ul.menu li {
	margin-left: 40px;
}

ul.menu li.active {
	color: #ffc178;
}


.container .section {
	width: 1622px;
	height: 740px;
	background-image: url(img/bg_header.png);
	margin: 0 auto;
	margin-top: 40px;
}

.container .section img.slogan,
.container .section img.slogan2  {
	display: block;
	margin-top: 200px;
	margin-left: 285px;
	position: relative;
	top: 105px;
}
.container .section img.slogan2 {
	margin-top: 20px;
}

.container .section button.btnVisit {
	margin-top: 140px;
	margin-left: 285px;
	width: 217px;
	height: 56px;
	background-color: #ffc178;
	color: #FFD;
	border: none;
	border-radius: 30px;
}


.container .edu {
	width: 100%;
	margin-top: 20px;
	height: 1240px;
}

.container .edu h2.title {
	width: 320px;
	font-size: 40px;
	margin: 0 auto;
	margin-top: 20px;
}

.container .edu p.content_des {
	width: 500px;
	text-align: center;
	font-size: 16px;
	color: #5a6e79;
	margin: 0 auto;
	margin-top: 25px;
}

.container .edu div.edu_view {
	width: 1080px;	/*width: 360px;*/
	display: flex;
	margin: auto;
	margin-top: 75px;
}

.container .edu div.edu_view .edu1,
.container .edu div.edu_view .edu2,
.container .edu div.edu_view .edu3
{
	width: 274px;
	height: 274px;
	margin: auto;
}

div.edu_statistical {
	width: 1080px;
	height: 500px;
	display: flex;
	margin: 0 auto;
	margin-top: 125px;
}


.edu_statistical_right,
.edu_statistical_left
{
	width: 50%;
}

.edu_statistical_left {
	position: relative;
}
h2.edu_statistical_title {
	width: 500px;
	font-size: 40px;
	position: relative;
	top: -40px;
	left: 70px;
}
p.content {
	width: 450px;
	color: #5a6e79;
	justify-content: center;
	margin-left: 70px;
}

.o_pic {
	width: 340px;
	height: 340px;
	border-radius: 190px;
	background-image: url('img/section.png');
	background-size: cover;
	background-position: -75px;
	position: absolute;
	top: 20px;
	left: 170px;
}

.o_pic img.play {
	margin-left: 35%;
	margin-top: 35%;
	overflow: hidden;
}

.o_pic img.la {
	position: relative;
	bottom: 230px;
	right: 230px;
	z-index: -9999;
}

ul.num_statistical {
	width: 400px;
	height: 70px;
	margin-left: 30px;
	list-style: none;
	display: flex;
}
ul.num_statistical li.courses {
	margin-left: 80px;
}
ul.num_statistical li.house_video {
	margin-left: 80px;
}
.students {
	font-size: 20px;
	color: #ffba00;
}

.students b{
	font-size: 40px;
}

.courses {
	font-size: 20px;
	color: #ff5f72;
}
.courses b{
	font-size: 40px;
}
.house_video {
	font-size: 19px;
	color: #43cb83;
}
.house_video b {
	font-size: 40px;
}


.products {
	margin-bottom: 145px;
}

.products .row{
	width: 1110px;
	height: auto;
	margin: 0 auto;
	margin-bottom: 50px;
	display: flex;
	justify-content: space-around;
}

.products .item {
	width: 263px;
	height: 162px;
	border: none;
	border-radius: 10px;
	background-color: red;
}


.products .item .p1 {
	width: 263px;
	height: 162px;
	border: none;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	overflow: hidden;
}

.products .item1 .p1 {
	width: 263px;
	height: 162px;
	border: none;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	overflow: hidden;
	margin-left: 20px;
}


.products .item .p1_title_active {
	width: 100%;
	text-align: justify-all;
	margin-top: 20px;
	margin-left: 5px;
	text-decoration: underline;
	color: #fcc381;
	font-size: 20px;
	font-weight: 500;
}

.products .item .p1_des, .keep_reading_active {
	margin-top: 10px;
	margin-left: 5px;
	color: #5a6e79;
}
.keep_reading_active {
	color: #000;
	margin-top: 10px;
}

.products .item .keep_reading {
	margin-top: 30px;
	margin-left: 5px;
	color: #5a6e79;
}


.products .item1 .p1_title, .products .item .p1_title  {
	width: 90%;
	text-align: justify-all;
	margin-top: 20px;
	margin-left: 30px;
	color: #000;
	font-size: 20px;
	font-weight: 500;
}
.products .item .p1_title {
	margin-top: 20px;
	margin-left: 5px;
}


.products .item1 .p1_des, .keep_reading{
	margin-top: 10px;
	margin-left: 30px;
	color: #5a6e79;
}
.keep_reading {
	margin-top: 30px;
}


/*footer*/
.container .footer {
	width: 100%;
	height: 400px;
	background-color: #252c3a;
	margin-top: 760px;
	display: flex;
}

.about {
	width: 280px;
	height: 230px;
	margin-top: 70px;
	margin-left: 380px;
	color: #ddf;
}
.about img {
	margin-bottom: 25px;
}
.line {
	width: 280px;
	margin-top: 20px;
	border-top: 1px solid #2D3d3a;
}

.feature, .learn {
	width: 280px;
	height: 230px;
	margin-top: 80px;
	margin-left: 25px;
	color: #ddf;
}
.learn {
	margin-left: 50px;
}

.feature h3, .learn h3 {
	margin-bottom: 50px; 
}

.feature p, .learn p{
	margin-bottom: 30px;
}

.feature p span, .learn p span{
	color: #6b6b6b;
}


.support {
	width: 260px;
	height: 230px;
	margin-top: 80px;
	margin-left: 25px;
	color: #ddf;
}

.support h3, .learn h3 {
	margin-bottom: 50px; 
}

.support p, .learn p{
	margin-bottom: 30px;
}

.support .form {
	width: 100%;
	display: flex;
}
.support .form input {
	width: 70%;
	height: 50px;
	text-align: center;
}
.support .form button {
	width: 30%;
	height: 54px;
	border: none;
	background-color: #ffc177;
	color: #fff;
}

.end {
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: #1d222d;
	display: flex;
	justify-content: space-around;
	color: #6b6b6b;
}
.end .end_menu {
	display: flex;
	list-style: none;
}
.end .end_menu li{
	margin-left: 15px;
}